# Logs
*.log
logs/

# Maven
backend/target/

# Node
frontend/node_modules/
frontend/dist/

# Vite
vite
frontend/vite
backend/vite

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Certificados
*.pem
*.key

# Archivos temporales
FETCH_HEAD
frontend@0.0.0
backend/frontend@0.0.0
